
.calc-buttons {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin: 5px;

}

button {
    font-size: 2em;
    border: 1px solid #E7E7E7;
    background-color: #D4D4D4;
}

.wide-btn {
    grid-column: 3 / span 2;
}

.equal-btn {
    background-color: #568BE9;
    color: white;
}

.number-btn {
    background-color: #F4F4F4;
}

.display > p {
    font-size: 3em;
    text-align: right;
    height: auto;
    width: auto;
    background-color: white;
    border: 2px solid #CBCBCB;
    margin: 5px;
}

.prev-calc > p {
    font-size: 1em;
    text-align: right;
    width: auto;
    height: 1em;
    margin: 5px;
    padding-right: 2px;
    padding-left: 2px;
    
}

.calculator {
    background-color:white;
    border: 2px solid #ECECEC;
    border-radius: 8px;
    width: 600px;
    margin: auto;
    padding: 10px;
}

html, body {
    font-family: "Lato", sans-serif;
}